
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>To Do List</title>
</head>
<body>
    <div> 
        <h2>Welcome to your app.</h2>
        @Html.ActionLink("To Do List", "Index", "Tasks")
    </div>
</body>
</html>
