
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>To Do List</title>
</head>
<body>
    <div> 
        <h2>Welcome to the To Do List!</h2>
        <a href="/Tasks/Create">Add a new task</a>
    </div>
</body>
</html>
