@model IEnumerable<ToDoList.Models.Task>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>To Do List</title>
</head>
<body>
    <h2>To Do List!</h2>
    @Html.ActionLink("Create New", "Create")

    <h4>Tasks:</h4> 
    <ul>
        @foreach (var task in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => task.Description): @Html.ActionLink("Edit", "Edit", new { id = task.Id})
            </li>
        }
    </ul>   
</body>
</html>
